<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Concejo Deliberante</title>
	
	<link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css">
	    <link rel="stylesheet" href="CSS/style.css">
	    <src="https://kit.fontwasome.com/57faba85bl.js" crossorigin="anonymous">
	
</head>
<body class="alert alert-success border-0" role="alert"  style="background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('img/pngwing.com (2).png'); background-size: contain; background-position: center;">
    <div>
      <div class="jumbotron-fluid container center" style="padding-top: 10%;">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded border border-success">
          <h1 class="display-4" style="color:rgb(65, 98, 131); margin-top: 10%; margin-bottom: 10%; text-align: center; font-family:'Times New Roman', Times, serif;">CONCEJO DELIBERANTE</h1>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="button">INICIAR SESION</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>